<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Wishlist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h2>Wishlist</h2>
    <button ion-button outline item-end icon-right (click)="goToAddToWishListPage()">
      Add item to wishlist
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-item>

  <ion-item *ngIf="hasWishlist()">
    <ion-label>Toggle reorder mode</ion-label>
    <ion-toggle [(ngModel)]="reorderModeEnabled"></ion-toggle>
  </ion-item>

  <ion-list *ngIf="hasWishlist()">
    <ion-item-group reorder="{{reorderModeEnabled}}" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let wishlistItem of personalWishlist.wishlistItems" (press)="showDeleteModal(wishlistItem)">
        <ion-thumbnail item-start>
          <img src="{{getFirstFilledInImageUrl(wishlistItem)}}">
        </ion-thumbnail>
        <h2>{{wishlistItem.order}}. </h2>
        <p class="head-text-wrap">{{wishlistItem.displayName}}</p>
        <button *ngIf="!reorderModeEnabled" (click)="goToDetail(wishlistItem.technicalId)" ion-button clear item-end>View</button>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
