<form [formGroup]="addToWishlistForm" (ngSubmit)="saveSelection()">

  <ion-item>
    <ion-label>Game name</ion-label>
    <ion-input type="text" formControlName="gamename" placeholder="Monopoly"></ion-input>
  </ion-item>

  <button ion-button type="submit" secondary>Submit selection</button>
</form>

<h1>Your selection</h1>
<ion-card *ngFor="let selected of selection">
  <img *ngIf="selected.boardgame" src="{{selected.boardgame.image}}"/>
  <ion-card-content>
    <ion-card-title>
      {{getTitle(selected)}}
    </ion-card-title>
    <p>
      @ store: {{selected.shop}} {{getPrice(selected)}}
    </p>
  </ion-card-content>
</ion-card>
