<ion-header>
  <ion-navbar >
    <ion-title>Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-card *ngIf="wishlistItem">
    <img src="{{getFirstNonEmptyDetail(wishlistItem).boardgame.image}}"/>
    <ion-card-title>{{wishlistItem.displayName}}</ion-card-title>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let selected of wishlistItem.selection | shopinfoPresent" class="cheapest-shop" [ngClass]="{'cheapest': isCheapest(selected)}">
          <ion-avatar item-start (click)="refresh(selected)">
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/4985-200.png">
          </ion-avatar>
            <ion-icon (click)="goToStore(selected.boardgame.url)" name="arrow-dropright" item-end></ion-icon>
          @ {{selected.shop}}: {{getPrice(selected)}} euro
          <br>
          <available-icon [available]="selected.boardgame.available"></available-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--TODO: refresh all-->
  <!--<ion-fab top right edge>-->
    <!--<button ion-fab>-->
      <!--<ion-icon name="refresh">-->
    <!--</ion-icon>-->
    <!--</button>-->
  <!--</ion-fab>-->

</ion-content>


<div id="jquerydump" style="display:none"></div>
