<ion-header>
  <ion-navbar >
    <ion-title>Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-card *ngIf="wishlistItem">
    <img src="{{getFirstNonEmptyDetail(wishlistItem).boardgame.image}}"/>
    <ion-card-title>{{wishlistItem.displayName}}</ion-card-title>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let selected of wishlistItem.selection | shopinfoPresent" class="cheapest-shop" [ngClass]="{'cheapest': isCheapest(selected)}">
            <ion-icon (click)="goToStore(selected.boardgame.url)" name="arrow-dropright" item-end></ion-icon>
          @ {{selected.shop}}: {{getPrice(selected)}} euro
          <br>
          <available-icon [available]="selected.boardgame.available"></available-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<!--TODO: refresh button that checks store detail page for new price/availability-->
